
      .main-content-container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        min-width: 1920px;
        background: white;
      }
      .header-container {
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid #efefef;
      }
      .header-navigation-container1 {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        min-width: 1420px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .sidebar-container {
        box-sizing: border-box;
        flex: 0 0 auto;
        width: 27.82%;
      }
      .image-container {
        box-sizing: border-box;
        display: block;
        width: 133px;
        max-width: initial;
        height: 130px;
      }
      .header-navigation-container {
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: space-between;
        width: 72.18%;
        padding-top: 42px;
        padding-bottom: 42px;
        padding-left: 15px;
      }
      .navigation-menu-container {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        gap: 38px;
        align-items: center;
        justify-content: flex-start;
      }
      .main-navigation-links {
        flex: 0 0 auto;
        padding: 0;
        margin: 0;
        font: 600 20px "Open Sans", sans-serif;
        color: #333333;
      }
      .tour-package-card {
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        border-bottom: 2px solid #fa8b02;
      }
      .header-navigation {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        gap: 21px;
        align-items: center;
        justify-content: flex-start;
      }
      .header-with-logo {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
      .svg-container {
        display: flex;
        flex: 0 0 auto;
        width: 20px;
        height: 20px;
        margin-left: 3px;
      }
      .orange-button {
        box-sizing: border-box;
        display: block;
        flex: 0 0 auto;
        width: 168px;
        min-width: 168px;
        height: 47px;
        font: 600 20px "Open Sans", sans-serif;
        color: white;
        cursor: pointer;
        background: #fa8b02;
        border: none;
        border-radius: 50px;
      }
      .order-confirmation-message-container {
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }
      .order-confirmation-section {
        display: flex;
        flex-direction: column;
        gap: 36px;
        align-items: stretch;
        justify-content: flex-start;
        padding-top: 204px;
        padding-bottom: 820px;
      }
      .order-confirmation-image {
        box-sizing: border-box;
        display: block;
        flex: 0 0 auto;
        align-self: center;
        width: 92px;
        max-width: initial;
        height: 92px;
      }
      .order-confirmation-message1 {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }
      .order-confirmation-message {
        flex: 0 0 auto;
        padding: 0;
        margin: 0;
        font: 700 32px "Open Sans", sans-serif;
        color: black;
      }
      .order-confirmation-message2 {
        flex: 0 0 auto;
        padding: 0;
        margin: 0;
        margin-top: 16px;
        font: 400 20px "Open Sans", sans-serif;
        color: #333333;
      }
      .orange-button-style {
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 59px;
        margin-top: -4.25px;
        border: 1px solid #fa8b02;
        border-radius: 50px;
      }
      .home-page-link-text-style {
        box-sizing: border-box;
        flex: 0 0 auto;
        width: 217px;
        padding: 0;
        margin: 0;
        font: 600 20px "Open Sans", sans-serif;
        color: #fa8b02;
        text-align: center;
      }
    